<div class="footer">
    <div class="d-flex flex-column w-50 h-100 p-4 bg-white justify-content-around">
            <p class="contact-title mb-0">Contact</p>
            <div class="social-media d-flex fle-row">
                <a href="https://www.facebook.com/" target="_blank"><img src="../../../assets/icons/facebook-logo.png" alt="facebook-contect"></a>
                <a href="" target="_blank"><img src="../../../assets/icons/twitter-icon.png" alt="twitter-contact"></a>
                <a href="" target="_blank"><img src="../../../assets/icons/insta-icon.png" alt="insta-contact"></a>
                <a href="" target="_blank"><img src="../../../assets/icons/pinterest-icon.webp" alt="pinterest-contact"></a>
                <a href="" target="_blank"><img src="../../../assets/icons/snap-icon.png" alt="snapchat-contact"></a>
            </div>
            <span><strong>&copy;</strong> 2020, K's Poetry</span>
    </div>
</div>
