<div>
    <app-quote-section></app-quote-section>
    <!-- Landing-Page-Section-1 -->
    <div class="lp-section d-flex flex-row p-4 w-100 align-items-center">
        <div class="text-content h-100 mr-4">
            <h1 class="section-heading mb-2 font-weight-bold">Read Anytime, Anywhere on Your Device</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex accusamus quidem asperiores 
                reprehenderit officia aliquid unde iusto! Earum, similique? Voluptatum maiores eligendi 
                labore nemo quaerat? Vero voluptatum reprehenderit sapiente rerum?
            </p>
        </div>
        <div class="img-box h-100">
            <img class="w-100" src="../../../assets/images/read.jpg" alt="Main-section">
        </div>  
    </div>
    <!-- Landing-Page-Section-2 -->
    <div class="lp-section d-flex flex-row-reverse p-4 w-100 align-items-center">
        <div class="text-content h-100 ml-4">
            <h1 class="section-heading mb-2 font-weight-bold">Post and Save Your Pieces</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex accusamus quidem asperiores 
                reprehenderit officia aliquid unde iusto! Earum, similique? Voluptatum maiores eligendi 
                labore nemo quaerat? Vero voluptatum reprehenderit sapiente rerum?
            </p>
        </div>
        <div class="img-box h-100">
            <img class="w-100" src="../../../assets/images/write.jpg" alt="Main-section">
        </div>  
    </div>
    <!-- Landing-Page-Section-3 -->
    <div class="lp-section d-flex flex-row p-4 w-100 align-items-center">
        <div class="text-content h-100 mr-4">
            <h1 class="section-heading mb-2 font-weight-bold">Read Anytime, Anywhere on Your Device</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex accusamus quidem asperiores 
                reprehenderit officia aliquid unde iusto! Earum, similique? Voluptatum maiores eligendi 
                labore nemo quaerat? Vero voluptatum reprehenderit sapiente rerum?
            </p>
        </div>
        <div class="img-box h-100">
            <img class="w-100" src="../../../assets/images/read.jpg" alt="Main-section">
        </div>  
    </div>
    <!-- Landing-Page-Section-4 -->
    <div class="lp-section d-flex flex-row-reverse p-4 w-100 align-items-center">
        <div class="text-content h-100 ml-4">
            <h1 class="section-heading mb-2 font-weight-bold">Don't Like It Anymore? Delete.</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex accusamus quidem asperiores 
                reprehenderit officia aliquid unde iusto! Earum, similique? Voluptatum maiores eligendi 
                labore nemo quaerat? Vero voluptatum reprehenderit sapiente rerum?
            </p>
        </div>
        <div class="img-box h-100">
            <img class="w-100" src="../../../assets/images/delete.jpg" alt="Main-section">
        </div>  
    </div>
</div>
